libraries/*
LED_RGB_Arduino/.vs/*
LED_RGB_Arduino/__vm/*
LED_RGB_Arduino/Debug/*
LED_RGB_Arduino/LED_RGB_Arduino.vcxproj.filters
PIR_Arduino/.vs/*
PIR_Arduino/__vm/*
PIR_Arduino/Debug/*
PIR_Arduino/LED_RGB_Arduino.vcxproj.filters
PIR_Arduino/__vm/.PIR_Arduino.vsarduino.h
PIR_Arduino/PIR_Arduino.vcxproj.user
.vs/Devices/v14/.suo
